
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dashboard-vPb {
  background-color: #fffdf6;
  width: 100%;
  height: 84.9rem;
  position: relative;
  overflow: hidden;

  .rectangle-1-EQH {
    height: 84.9rem;
    position: absolute;
    left: 72rem;
    top: 0;
    background-color: #7c7e9d;
    width: 72rem;
  }
  .image-MUu {
    width: 65rem;
    height: 53.8rem;
    position: absolute;
    left: 39.6rem;
    top: 17.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .fddd76-633f-484d-989d-4dd6eea62c19-1-H7f {
      position: relative;
      left: 0;
      top: 0;
      background-size: 120.171% 108.212%;
      background-position: -8.9692rem -2.0929rem;
      background-image: url('REPLACE_IMAGE:f76eb47b5ef137c1d9a07ceab280dd784fede523');
      width: 62.4643rem;
      height: 50.9684rem;
    }
    .abdae-7e34-4554-be0a-9276641ca711-1-wCD {
      height: 30.6165rem;
      position: absolute;
      left: 31.0649rem;
      top: 12.7421rem;
      object-fit: cover;
      vertical-align: top;
      width: 33.9351rem;
    }
    .f663-07b3-4aae-86eb-3514c9ba69d1-1-TAZ {
      left: 33.7234rem;
      top: 32.5632rem;
      object-fit: cover;
      vertical-align: top;
      width: 21.2681rem;
      height: 21.2368rem;
      position: absolute;
    }
    .b142d4f-2fbb-4686-9c9d-100f49d4b211-1-B6Z {
      left: 13.5499rem;
      top: 20.7059rem;
      object-fit: cover;
      vertical-align: top;
      width: 22.5192rem;
      height: 33.0941rem;
      position: absolute;
    }
  }
  .shop-now-RWh {
    text-align: center;
    justify-content: center;
    height: 5.9rem;
    left: 14.7rem;
    font-size: 2rem;
    background-color: #e2d4e0;
    line-height: 1.5;
    color: #4c5372;
    white-space: nowrap;
    display: flex;
    width: 17.5rem;
    position: absolute;
    top: 56.9rem;
    font-weight: 500;
    font-family: Poppins, 'Source Sans Pro';
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .promo-1Uu {
    width: 25.7rem;
    height: 9.5rem;
    top: 13.7rem;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 28.9rem;
    align-items: center;
    background-color: rgba(76, 83, 114, 0.3000000119);
    padding: 0.9rem 1.525rem 1rem 1.3rem;

    .auto-group-bzay-V9B {
      padding: 1rem 0.8rem 1rem 0.9rem;
      height: 100%;
      background-color: #4a5372;
      flex-shrink: 0;
      margin-right: 1.1rem;
      box-sizing: border-box;

      .cd1b4668b6fbe35be348fc9db9723284-removebg-preview-1-1NR {
        width: 5.9rem;
        height: 5.6rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-7wc1-vEV {
      margin: 0.8rem 4.625rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .keranjang-baju-rp-15000-r89 {
        color: #272526;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        max-width: 7.8rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .rating-xS5 {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .vector-WTb {
          margin-right: 0.3827rem;
          width: 1.3778rem;
          height: 1.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-SMF {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
        }
        .vector-yry {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
        }
        .vector-j5T {
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-gWV {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
        }
        .vector-Riy {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .carbon-add-filled-yVb {
      margin-top: 4.6rem;
      width: 1.75rem;
      height: 1.75rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .promo-2-6q7 {
    align-items: center;
    padding: 0.9rem 1.525rem 1rem 1.3rem;
    height: 9.5rem;
    top: 69.5rem;
    display: flex;
    background-color: rgba(226, 212, 224, 0.3000000119);
    box-sizing: border-box;
    width: 25.7rem;
    position: absolute;
    left: 93.6rem;

    .auto-group-krph-Qau {
      margin-right: 1.1rem;
      box-sizing: border-box;
      padding-top: 0.2rem;
      width: 7.6rem;
      height: 100%;
      background-color: #fffdf6;
      flex-shrink: 0;

      .f772fcd6c01098ea12a58189a4f62-removebg-preview-1-wKw {
        vertical-align: top;
        width: 7.6rem;
        height: 7.4rem;
        object-fit: cover;
      }
    }
    .auto-group-tdeq-3tm {
      margin: 1rem 6.225rem 0.7rem 0rem;
      width: 6.2rem;
      height: calc(100% - 1.7rem);
      position: relative;
      flex-shrink: 0;

      .panci-listrik-rp-75000-BEH {
        font-weight: 500;
        line-height: 1.5;
        color: #fffdf6;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1rem;
        width: 5.7rem;
        height: 4.5rem;
      }
      .rating-UDP {
        width: 6.2rem;
        height: 1.5rem;
        position: absolute;
        left: 0;
        top: 4.4rem;
        display: flex;
        align-items: flex-end;

        .vector-zSd {
          flex-shrink: 0;
          margin-right: 0.3827rem;
          width: 1.3778rem;
          height: 1.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-8oj {
          flex-shrink: 0;
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-g4Z {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
        }
        .vector-pRf {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
        }
        .vector-Zu3 {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
        }
        .vector-7Qm {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .carbon-add-filled-G2m {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 4.6rem;
      width: 1.75rem;
      height: 1.75rem;
      object-fit: contain;
    }
  }
  .welcome-precious-people-NrV {
    top: 26.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c5372;
    font-family: ?????, 'Source Sans Pro';
    width: 26.9rem;
    position: absolute;
    left: 9.95rem;
    font-size: 7rem;
    font-weight: 400;
    line-height: 1.2575;
    height: 26.5rem;
  }
  .search-TN9 {
    border-radius: 3rem;
    box-sizing: border-box;
    position: absolute;
    top: 49.3rem;
    align-items: center;
    border: solid 0.2rem #e2d4e0;
    background-color: #fffdf6;
    padding: 1rem 2.11rem 0.91rem 1.5rem;
    width: 29.4rem;
    height: 3.8rem;
    left: 104.6rem;
    display: flex;

    .search-for-anything-and-everything-9Vs {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.3799999952);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.2rem 0.19rem 0rem;
    }
    .gg-search-Sjs {
      flex-shrink: 0;
      width: 1.8904rem;
      height: 1.8897rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .header-xiD {
    height: 7.6rem;
    position: absolute;
    left: 10rem;
    top: 3rem;
    display: flex;
    align-items: center;
    width: 123.4rem;

    .home-5Xw {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 5.339rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      color: #4c5372;
    }
    .shop-nhF {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 6.339rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
    }
    .categories-Wt9 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 16.422rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
    }
    .preloved-3NH {
      margin-right: 32.6rem;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: ?????, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .register-b8u {
      margin: 1.6rem 4.7rem 0rem 0rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      color: #fffdf6;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .login-iUR {
      color: #fffdf6;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.6rem;
      cursor: pointer;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .preloved-is-the-online-platform-where-you-can-buy-and-sell-preloved-items-with-ease-whether-you-are-looking-for-clothing-accessories-books-electronics-or-anything-else-you-can-find-it-here-at-a-fraction-of-the-original-price-FUM {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fffdf6;
    font-family: Poppins, 'Source Sans Pro';
    width: 29rem;
    height: 15.8rem;
    position: absolute;
    left: 104.8rem;
    top: 31.6rem;
    text-align: center;
    font-weight: 400;
  }
}
