
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 170.7rem;
}.image-3-y1b {
  height: 60rem;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
}
