
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-qT7 {
  background-color: #fffdf6;
  box-sizing: border-box;
  padding-left: 19.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .login-AkH {
    margin: 0rem 19.3rem 0.9rem 0rem;
    width: 56.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .data-hVK {
      border-radius: 1rem;
      margin-bottom: 3.8rem;
      box-sizing: border-box;
      width: 100%;
      flex-direction: column;
      padding: 0 7.7rem;
      align-items: center;
      display: flex;
      flex-shrink: 0;

      .login-dtm {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3rem;
        font-size: 3.8rem;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        line-height: 1.5;
        color: #4c5372;
      }
      .username-xAM {
        margin: 0rem 32.8rem 1rem 0rem;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #4c5372;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-10-faZ {
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 0rem 1.9rem 0.1rem;
        width: 40.9rem;
        height: 6.3rem;
        border: solid 0.3rem #4c5372;
        box-sizing: border-box;
        background-color: #fffdf6;
      }
      .password-AnD {
        color: #4c5372;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 33.5rem 1rem 0rem;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .rectangle-14-ty7 {
        margin-left: 0.1rem;
        width: 40.9rem;
        height: 6.3rem;
        border: solid 0.3rem #4c5372;
        box-sizing: border-box;
        background-color: #fffdf6;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .auto-group-czu3-BhK {
      width: calc(100% - 15.5rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.7rem 0rem 7.8rem;

      .seller-Vxu {
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        font-size: 2rem;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin-right: 5.9rem;
        height: 100%;
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        border: solid 0.1rem #4a5372;
        background-color: #e2d4e0;
        flex-shrink: 0;
        width: 17.5rem;
        cursor: pointer;
        color: #4c5372;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
      }
      .buyer-Xub {
        white-space: nowrap;
        display: flex;
        border-radius: 0.5rem;
        text-align: center;
        line-height: 1.5;
        border: solid 0.1rem #4a5372;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        color: #4c5372;
        justify-content: center;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        height: 100%;
        font-size: 2rem;
        font-weight: 500;
        box-sizing: border-box;
        background-color: #e2d4e0;
        flex-shrink: 0;
        width: 17.5rem;
        cursor: pointer;
      }
    }
  }
  .auto-group-fa6d-a7B {
    flex-shrink: 0;
    width: 48.7021rem;
    height: 100.1rem;
    position: relative;
    background-color: #7c7e9d;

    .group-3-7cu {
      width: 48.7rem;
      height: 26.7rem;
      left: 0;
      display: flex;
      border-radius: 0.5rem;
      box-sizing: border-box;
      position: absolute;
      top: 23.2rem;
      align-items: center;
      flex-direction: column;
      padding: 0 5.2rem;

      .welcome-back-pXK {
        flex-shrink: 0;
        margin-bottom: 1.3rem;
        text-align: center;
        color: #fffdf6;
        font-family: ?????, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .enter-personal-details-to-your-employee-account-YCR {
        margin-bottom: 6.25rem;
        text-align: center;
        color: #fffdf6;
        flex-shrink: 0;
        max-width: 18.1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
      }
      .new-here-create-a-new-account-dzZ {
        margin-bottom: 0.75rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fffdf6;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .sign-up-button-9xu {
        margin: 0 10.4rem;
        width: calc(100% - 20.8rem);
        height: 4rem;
        cursor: pointer;
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .sign-up-Vms {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          left: 4.9rem;
          top: 0.5rem;
          text-align: center;
          line-height: 1.5;
          color: #e2d4e0;
          width: 7.7rem;
          height: 3rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 500;
        }
        .rectangle-16-PsF {
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.2rem #e2d4e0;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 17.5rem;
        }
      }
    }
    .ellipse-2-JjK {
      width: 46.6021rem;
      height: 44.8998rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
