
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.order-XMT {
  overflow: hidden;
  background-color: #fffdf6;
  width: 100%;
  height: 84.4rem;
  position: relative;

  .rectangle-1-G49 {
    position: absolute;
    left: 72rem;
    top: 0;
    background-color: #7c7e9d;
    width: 72rem;
    height: 84.9rem;
  }
  .buat-pesanan-bcD {
    position: absolute;
    text-align: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    color: #4c5372;
    display: flex;
    align-items: center;
    border: solid 0.1rem #4a5372;
    width: 21.9rem;
    top: 72.7rem;
    font-size: 3rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    height: 5.5rem;
    left: 99.1rem;
    font-weight: 500;
    white-space: nowrap;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    box-sizing: border-box;
    background-color: #e2d4e0;
  }
  .harga-RLM {
    width: 17.5rem;
    height: 4.0091rem;
    position: absolute;
    left: 101.4rem;
    top: 53.5rem;
    border-radius: 0.5rem;

    .rectangle-46-Mjo {
      width: 17.5rem;
      height: 4rem;
      top: 0;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #e2d4e0;
      position: absolute;
      left: 0;
      border: solid 0.1rem #4a5372;
      border-radius: 0.5rem;
    }
    .rp-400000-rAm {
      width: 13.1rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.5;
      color: #4c5372;
      height: 3.5rem;
      position: absolute;
      left: 2.2rem;
      top: 0.5091rem;
      font-size: 2.3rem;
      font-weight: 500;
    }
  }
  .belum-bayar-wi1 {
    width: 19.7rem;
    height: 4.8rem;
    position: absolute;
    left: 89.4rem;
    top: 63.2rem;
    border-radius: 0.5rem;

    .group-10-ekq {
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #e2d4e0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 0.3rem 2.45rem;
      white-space: nowrap;
      font-weight: 500;
      color: #fffdf6;
      box-sizing: border-box;
      text-align: center;
      font-size: 2.3rem;
      line-height: 1.5;
      background-color: #7c7e9d;
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;
    }
  }
  .sudah-bayar-ghX {
    left: 110.9rem;
    top: 63.2rem;
    border-radius: 0.5rem;
    width: 19.7rem;
    height: 4.8rem;
    position: absolute;

    .group-10-cr5 {
      line-height: 1.5;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 100%;
      font-weight: 500;
      font-size: 2.3rem;
      color: #fffdf6;
      background-color: #7c7e9d;
      padding: 0.3rem 2.4rem;
      width: 100%;
      white-space: nowrap;
      box-sizing: border-box;
      text-align: center;
      border-radius: 0.5rem;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #e2d4e0;
    }
  }
  .kuantitas-4xy {
    top: 45.6rem;
    border-radius: 1rem;
    width: 17.5rem;
    height: 6.3rem;
    position: absolute;
    left: 101.4rem;

    .kuantitas--off {
      width: 10.5rem;
      position: absolute;
      left: 3.5rem;
      top: 0;
      line-height: 1.5;
      white-space: nowrap;
      height: 3rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      color: #fffdf6;
      font-family: Poppins, 'Source Sans Pro';
    }
    .rectangle-6-8C9 {
      width: 17.5rem;
      top: 2.9rem;
      border: solid 0.3rem #e2d4e0;
      height: 3.4rem;
      position: absolute;
      left: 0;
      box-sizing: border-box;
      background-color: #fffdf6;
      border-radius: 1rem;
    }
  }
  .kursi-22d {
    left: 96.5rem;
    top: 15.9rem;
    box-sizing: border-box;
    padding: 0.4rem 3rem 0.5rem 3.1rem;
    width: 27.3rem;
    height: 27.4rem;
    position: absolute;
    background-color: #e2d4e0;
    border-radius: 2rem;

    .c2a04064778f17a9e8185aa490ad7-2-vth {
      width: 21.2rem;
      height: 26.5rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .header-3TX {
    width: 124rem;
    height: 7.6rem;
    position: absolute;
    left: 10.3rem;
    top: 2.5rem;
    display: flex;
    align-items: center;

    .home-AY9 {
      margin: 1.6rem 5.9rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .shop-h2H {
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 6.8rem 0rem 0rem;
      font-size: 2rem;
    }
    .categories-pch {
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 15.5rem 0rem 0rem;
      font-size: 2rem;
    }
    .preloved-xD7 {
      margin-right: 21.9rem;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: ?????, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .group-7-J25 {
      margin: 1.5rem 0rem 2.3rem 0rem;
      box-sizing: border-box;
      padding: 1rem 2.11rem 0.91rem 1.5rem;
      height: calc(100% - 3.8rem);
      display: flex;
      align-items: center;
      background-color: #fffdf6;
      border-radius: 3rem;
      border: solid 0.2rem #e2d4e0;
      flex-shrink: 0;

      .search-for-anything-and-everything-oUd {
        color: rgba(0, 0, 0, 0.3799999952);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 6.2rem 0.19rem 0rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .gg-search-u1s {
        width: 1.8904rem;
        height: 1.8897rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .a7401c5e704d8399140400747a5-1-14u {
    background-position: 0 -12.3601rem;
    background-image: url('REPLACE_IMAGE:5c35635d3b26a3891659a2a9a2b0cbe89ad838d6');
    width: 26rem;
    height: 33.8rem;
    position: relative;
    left: 20.8rem;
    top: 50.6rem;
    background-size: 100% 136.676%;
  }
  .pastikan-pesananmu-sudah-benar-ya-t8h {
    width: 46.3rem;
    font-size: 6rem;
    font-weight: 400;
    color: #4c5372;
    height: 22.7rem;
    position: absolute;
    left: 13.15rem;
    top: 22.8rem;
    text-align: center;
    line-height: 1.2575;
    font-family: ?????, 'Source Sans Pro';
  }
}
