
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-edit-UAV {
  width: 100%;
  height: 84.4rem;
  position: relative;
  overflow: hidden;
  background-color: #fffdf6;

  .rectangle-1-cXb {
    background-color: #7c7e9d;
    width: 72rem;
    height: 84.9rem;
    position: absolute;
    left: 72rem;
    top: 0;
  }
  .sell-kth {
    display: flex;
    align-items: center;
    width: 14rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 72.9rem;
    font-size: 3rem;
    justify-content: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 5.5rem;
    left: 101.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #4c5372;
    font-family: Poppins, 'Source Sans Pro';
    border: solid 0.1rem #4a5372;
    box-sizing: border-box;
    background-color: #e2d4e0;
  }
  .data-Bj7 {
    border-radius: 1rem;
    width: 41.1rem;
    height: 56.3rem;
    position: absolute;
    left: 87.9rem;
    top: 13.2rem;

    .nama-produk--JYq {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 0.3rem 0.2rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      color: #fffdf6;
    }
    .rectangle-3-cZX {
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 40.9rem;
      height: 6.3rem;
      border: solid 0.3rem #e2d4e0;
      box-sizing: border-box;
      background-color: #fffdf6;
      border-radius: 1rem;
    }
    .kondisi-produk--Kyj {
      line-height: 1.5;
      color: #fffdf6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 0.3rem 0.1rem;
      font-size: 2rem;
      font-weight: 600;
    }
    .rectangle-6-eFK {
      width: 40.9rem;
      height: 6.3rem;
      border: solid 0.3rem #e2d4e0;
      box-sizing: border-box;
      background-color: #fffdf6;
      border-radius: 1rem;
      margin: 0rem 0rem 1.9rem 0.2rem;
    }
    .lokasi--MQd {
      font-weight: 600;
      line-height: 1.5;
      color: #fffdf6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 0.3rem 0.2rem;
      font-size: 2rem;
    }
    .rectangle-7-tQZ {
      width: calc(100% - 0.2rem);
      height: 6.3rem;
      border: solid 0.3rem #e2d4e0;
      box-sizing: border-box;
      background-color: #fffdf6;
      border-radius: 1rem;
      margin: 0rem 0.1rem 2rem 0.1rem;
    }
    .harga--bpm {
      font-weight: 600;
      line-height: 1.5;
      color: #fffdf6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 0.3rem 0.1rem;
      font-size: 2rem;
    }
    .rectangle-9-XTX {
      border-radius: 1rem;
      margin-bottom: 2.5rem;
      width: 40.9rem;
      height: 6.3rem;
      border: solid 0.3rem #e2d4e0;
      box-sizing: border-box;
      background-color: #fffdf6;
    }
    .kategori--TMB {
      white-space: nowrap;
      margin-bottom: 0.3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      color: #fffdf6;
      font-family: Poppins, 'Source Sans Pro';
    }
    .rectangle-3-yqK {
      box-sizing: border-box;
      background-color: #fffdf6;
      border-radius: 1rem;
      width: 40.9rem;
      height: 6.3rem;
      border: solid 0.3rem #e2d4e0;
    }
  }
  .baranng-W4Z {
    box-sizing: border-box;
    padding: 5.9rem 5.4rem 5.8rem 5.3rem;
    position: absolute;
    border-radius: 2rem;
    background-color: #e2d4e0;
    width: 41.8rem;
    height: 41.3rem;
    left: 14.6rem;
    top: 21.5rem;

    .d8c6a3da7c1bd91b8debd0107f5-1-Qvd {
      width: 31.1rem;
      height: 29.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .header-igR {
    display: flex;
    align-items: center;
    width: 125.6rem;
    height: 7.6rem;
    position: absolute;
    left: 10rem;
    top: 3rem;

    .home-rGq {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.6rem 5.9rem 0rem 0rem;
    }
    .products-ysF {
      flex-shrink: 0;
      margin: 1.6rem 29.6rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .preloved-i49 {
      margin-right: 40.8rem;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: ?????, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .vector-SF3 {
      margin: 1.6rem 1.9rem 0rem 0rem;
      width: 3.4rem;
      height: 3.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-wczp-ARw {
      font-size: 2rem;
      font-weight: 400;
      color: #4c5372;
      flex-shrink: 0;
      height: calc(100% - 3.6rem);
      display: flex;
      background-color: #e2d4e0;
      margin: 2.7rem 0rem 0.9rem 0rem;
      white-space: nowrap;
      justify-content: center;
      border-radius: 1rem;
      width: 6.8rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
    }
  }
}
