
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.udah-login-yzR {
  height: 84.9rem;
  position: relative;
  overflow: hidden;
  background-color: #fffdf6;
  width: 100%;

  .rectangle-1-z8q {
    height: 84.9rem;
    position: absolute;
    left: 72rem;
    top: 0;
    background-color: #7c7e9d;
    width: 72rem;
  }
  .image-Gs3 {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 65rem;
    height: 53.8rem;
    position: absolute;
    left: 39.6rem;
    top: 17.2rem;

    .fddd76-633f-484d-989d-4dd6eea62c19-1-9ZT {
      background-image: url('REPLACE_IMAGE:f76eb47b5ef137c1d9a07ceab280dd784fede523');
      width: 62.4643rem;
      height: 50.9684rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 120.171% 108.212%;
      background-position: -8.9692rem -2.0929rem;
    }
    .abdae-7e34-4554-be0a-9276641ca711-1-QkH {
      object-fit: cover;
      vertical-align: top;
      width: 33.9351rem;
      height: 30.6165rem;
      position: absolute;
      left: 31.0649rem;
      top: 12.7421rem;
    }
    .f663-07b3-4aae-86eb-3514c9ba69d1-1-8AV {
      vertical-align: top;
      width: 21.2681rem;
      height: 21.2368rem;
      position: absolute;
      left: 33.7234rem;
      top: 32.5632rem;
      object-fit: cover;
    }
    .b142d4f-2fbb-4686-9c9d-100f49d4b211-1-Dxd {
      width: 22.5192rem;
      height: 33.0941rem;
      position: absolute;
      left: 13.5499rem;
      top: 20.7059rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-elementum-elit-nullam-molestie-non-eget-est-sagittis-volutpat-consequat-diam-sed-quis-dictum-ipsum-sodales-non-eget-morbi-massa-donec-duis-euismod-sodales-tristique-volutpat-at-72R {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fffdf6;
    width: 28.9rem;
    height: 15.8rem;
    position: absolute;
    top: 31.3rem;
    left: 104.6rem;
    font-family: Poppins, 'Source Sans Pro';
  }
  .search-fTF {
    padding: 1rem 2.11rem 0.91rem 1.5rem;
    height: 3.8rem;
    left: 104.6rem;
    top: 49.3rem;
    display: flex;
    background-color: #fffdf6;
    border-radius: 3rem;
    box-sizing: border-box;
    width: 29.4rem;
    position: absolute;
    align-items: center;
    border: solid 0.2rem #e2d4e0;

    .search-for-anything-and-everything-jT7 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.2rem 0.19rem 0rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.3799999952);
      font-family: Poppins, 'Source Sans Pro';
    }
    .gg-search-pUZ {
      width: 1.8904rem;
      height: 1.8897rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .shop-now-Vqb {
    line-height: 1.5;
    color: #4c5372;
    left: 14.7rem;
    font-weight: 500;
    justify-content: center;
    background-color: #e2d4e0;
    top: 56.9rem;
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 17.5rem;
    height: 5.9rem;
    position: absolute;
    font-family: Poppins, 'Source Sans Pro';
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .promo-Wkh {
    box-sizing: border-box;
    position: absolute;
    top: 13.7rem;
    align-items: center;
    background-color: rgba(76, 83, 114, 0.3000000119);
    padding: 0.9rem 1.525rem 1rem 1.3rem;
    width: 25.7rem;
    height: 9.5rem;
    left: 28.9rem;
    display: flex;

    .auto-group-gnyz-akZ {
      margin-right: 1.1rem;
      box-sizing: border-box;
      padding: 1rem 0.8rem 1rem 0.9rem;
      height: 100%;
      background-color: #4a5372;
      flex-shrink: 0;

      .cd1b4668b6fbe35be348fc9db9723284-removebg-preview-1-haH {
        width: 5.9rem;
        height: 5.6rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-ptmo-otD {
      margin: 0.8rem 4.625rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .keranjang-baju-rp-15000-7tu {
        font-weight: 500;
        line-height: 1.5;
        color: #272526;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        max-width: 7.8rem;
        font-size: 1rem;
      }
      .rating-qa1 {
        align-items: flex-end;
        flex-shrink: 0;
        display: flex;

        .vector-nEM {
          height: 1.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.3827rem;
          width: 1.3778rem;
        }
        .vector-Ww3 {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.153rem 0rem 0rem;
        }
        .vector-qiR {
          margin: 0rem 0.153rem 0rem 0rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-NiM {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.153rem 0rem 0rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
        }
        .vector-Jc1 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.153rem 0rem 0rem;
          width: 0.7654rem;
          height: 0.7895rem;
        }
        .vector-3Jh {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
        }
      }
    }
    .carbon-add-filled-yi9 {
      height: 1.75rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 4.6rem;
      width: 1.75rem;
    }
  }
  .promo-2-VgV {
    height: 9.5rem;
    position: absolute;
    left: 93.6rem;
    top: 69.5rem;
    align-items: center;
    box-sizing: border-box;
    padding: 0.9rem 1.525rem 1rem 1.3rem;
    width: 25.7rem;
    display: flex;
    background-color: rgba(226, 212, 224, 0.3000000119);

    .auto-group-coxp-axq {
      background-color: #fffdf6;
      flex-shrink: 0;
      margin-right: 1.1rem;
      box-sizing: border-box;
      padding-top: 0.2rem;
      width: 7.6rem;
      height: 100%;

      .f772fcd6c01098ea12a58189a4f62-removebg-preview-1-iJM {
        width: 7.6rem;
        height: 7.4rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-ykxr-2K3 {
      margin: 1rem 6.225rem 0.7rem 0rem;
      width: 6.2rem;
      height: calc(100% - 1.7rem);
      position: relative;
      flex-shrink: 0;

      .panci-listrik-rp-75000-jz9 {
        height: 4.5rem;
        left: 0;
        top: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: #fffdf6;
        width: 5.7rem;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
      }
      .rating-Sdf {
        top: 4.4rem;
        display: flex;
        align-items: flex-end;
        width: 6.2rem;
        height: 1.5rem;
        position: absolute;
        left: 0;

        .vector-N1X {
          margin-right: 0.3827rem;
          width: 1.3778rem;
          height: 1.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-uXF {
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
        }
        .vector-3tM {
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-zYh {
          margin-right: 0.1531rem;
          width: 0.7654rem;
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-jmB {
          height: 0.7895rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1531rem;
          width: 0.7654rem;
        }
        .vector-gRX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 0.7654rem;
          height: 0.7895rem;
        }
      }
    }
    .carbon-add-filled-2EV {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 4.6rem;
      width: 1.75rem;
      height: 1.75rem;
      object-fit: contain;
    }
  }
  .vector-jub {
    width: 3.8rem;
    height: 3.9rem;
    position: absolute;
    left: 123.8rem;
    top: 3.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .welcome-precious-people-Ged {
    align-items: center;
    line-height: 1.2575;
    color: #4c5372;
    font-family: ?????, 'Source Sans Pro';
    left: 9.95rem;
    height: 26.5rem;
    position: absolute;
    top: 26.25rem;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-weight: 400;
    width: 26.9rem;
  }
  .header-kZo {
    align-items: center;
    border-radius: 1rem;
    width: 125.6rem;
    height: 5.1rem;
    position: absolute;
    left: 10rem;
    top: 2.9rem;
    display: flex;

    .home-fgm {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 5.8rem 0rem 0rem;
    }
    .shop-Bv1 {
      margin: 0.1rem 6.8rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .categories-iQ9 {
      color: #4c5372;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 19.4rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .preloved-qjf {
      font-weight: 400;
      line-height: 1.2575;
      font-family: ?????, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 49.6rem;
      font-size: 4rem;
    }
    .auto-group-lvox-n97 {
      margin: 0.7rem 0rem 0.4rem 0rem;
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
      justify-content: center;
      background-color: #e2d4e0;
      width: 6.8rem;
      font-weight: 400;
      border-radius: 1rem;
      line-height: 1.5;
      color: #4c5372;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: calc(100% - 1.1rem);
      white-space: nowrap;
    }
  }
}
