
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.buyer-page-n2M {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffdf6;
}
.buyer-page-n2M .auto-group-k34v-Uvm {
  box-sizing: border-box;
  padding: 0rem 0rem 1.1rem 9.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V {
  margin: 0rem 0rem 8.05rem 0.15rem;
  width: 134.05rem;
  height: 84.9rem;
  position: relative;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .rectangle-1-4ty {
  width: 72rem;
  height: 84.9rem;
  position: absolute;
  left: 62.05rem;
  top: 0;
  background-color: #7c7e9d;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .image-asK {
  width: 65rem;
  height: 53.8rem;
  position: absolute;
  left: 29.65rem;
  top: 17.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .image-asK .fddd76-633f-484d-989d-4dd6eea62c19-1-KK7 {
  width: 62.4643rem;
  height: 50.9684rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 120.171% 108.212%;
  background-position: -8.9692rem -2.0929rem;
  background-image: url('../assets/fddd76-633f-484d-989d-4dd6eea62c19-1-Bwo.png');
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .image-asK .abdae-7e34-4554-be0a-9276641ca711-1-bGd {
  width: 33.9351rem;
  height: 30.6165rem;
  position: absolute;
  left: 31.0649rem;
  top: 12.7421rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .image-asK .f663-07b3-4aae-86eb-3514c9ba69d1-1-6jB {
  width: 21.2681rem;
  height: 21.2368rem;
  position: absolute;
  left: 33.7234rem;
  top: 32.5632rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .image-asK .b142d4f-2fbb-4686-9c9d-100f49d4b211-1-odb {
  width: 22.5192rem;
  height: 33.0941rem;
  position: absolute;
  left: 13.5499rem;
  top: 20.7059rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw {
  box-sizing: border-box;
  padding: 0.9rem 1.525rem 1rem 1.3rem;
  width: 25.7rem;
  height: 9.5rem;
  position: absolute;
  left: 18.95rem;
  top: 13.7rem;
  display: flex;
  align-items: flex-end;
  background-color: rgba(76, 83, 114, 0.3000000119);
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-knob-eXj {
  margin-right: 1.1rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 0.9rem;
  height: 100%;
  background-color: #4a5372;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-knob-eXj .cd1b4668b6fbe35be348fc9db9723284-removebg-preview-1-Zeh {
  width: 5.9rem;
  height: 5.6rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth {
  margin: 0rem 4.625rem 0.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .keranjang-baju-rp-15000-zED {
  margin-bottom: 0.4rem;
  max-width: 7.8rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d .vector-Sru {
  margin-right: 0.3827rem;
  width: 1.3778rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d .vector-PXF {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d .vector-Y9F {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d .vector-Hcd {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d .vector-dRb {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .auto-group-ixrb-rth .rating-h8d .vector-aLq {
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-tuw .carbon-add-filled-7Lm {
  margin-bottom: 0.025rem;
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 {
  box-sizing: border-box;
  padding: 0.9rem 1.525rem 1rem 1.3rem;
  width: 25.7rem;
  height: 9.5rem;
  position: absolute;
  left: 83.65rem;
  top: 69.5rem;
  display: flex;
  align-items: center;
  background-color: rgba(226, 212, 224, 0.3000000119);
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-eepj-Kxd {
  margin-right: 1.1rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  width: 7.6rem;
  height: 100%;
  background-color: #fffdf6;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-eepj-Kxd .f772fcd6c01098ea12a58189a4f62-removebg-preview-1-TZ3 {
  width: 7.6rem;
  height: 7.4rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD {
  margin: 1rem 6.225rem 0.7rem 0rem;
  width: 6.2rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .panci-listrik-rp-75000-3n9 {
  width: 5.7rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fffdf6;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh {
  width: 6.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
  display: flex;
  align-items: flex-end;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh .vector-pAd {
  margin-right: 0.3827rem;
  width: 1.3778rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh .vector-9yb {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh .vector-J5o {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh .vector-csB {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh .vector-w8m {
  margin-right: 0.1531rem;
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .auto-group-ccg9-NAD .rating-hrh .vector-gMF {
  width: 0.7654rem;
  height: 0.7895rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .promo-2-da1 .carbon-add-filled-RJq {
  margin-top: 5.4rem;
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .preloved-is-the-online-platform-where-you-can-buy-and-sell-preloved-items-with-ease-whether-you-are-looking-for-clothing-accessories-books-electronics-or-anything-else-you-can-find-it-here-at-a-fraction-of-the-original-price-LRo {
  width: 29rem;
  height: 15.8rem;
  position: absolute;
  left: 94.85rem;
  top: 31.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fffdf6;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .welcome-precious-people-kEd {
  width: 26.9rem;
  height: 26.5rem;
  position: absolute;
  left: 0;
  top: 26.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #4c5372;
  font-family: ?????, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .shop-now-qms {
  width: 17.5rem;
  height: 5.9rem;
  position: absolute;
  left: 4.75rem;
  top: 56.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e2d4e0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .search-JQZ {
  box-sizing: border-box;
  padding: 0.7rem 2.1rem 0.7rem 1.5rem;
  width: 29.4rem;
  height: 3.8rem;
  position: absolute;
  left: 94.65rem;
  top: 49.3rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #e2d4e0;
  background-color: #fffdf6;
  border-radius: 3rem;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .search-JQZ .search-for-anything-and-everything-AxZ {
  margin: 0rem 5.7rem 0.1rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3799999952);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .search-JQZ .gg-search-53w {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d {
  width: 125.6rem;
  height: 7.6rem;
  position: absolute;
  left: 0.05rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d .home-WQ9 {
  margin: 1.6rem 5.8rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d .shop-2tH {
  margin: 1.6rem 6.8rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d .categories-9xu {
  margin: 1.6rem 15.5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d .preloved-V1B {
  margin-right: 40.8rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2575;
  font-family: ?????, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d .vector-p3T {
  margin: 1.6rem 1.9rem 0rem 0rem;
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .auto-group-fber-B4V .header-P4d .auto-group-58y7-95j {
  margin: 2.7rem 0rem 0.9rem 0rem;
  width: 8rem;
  height: calc(100% - 3.6rem);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d4e0;
  border-radius: 1rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo {
  margin: 0rem 9.8rem 14.7rem 0rem;
  width: 124rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .product-categories-vEu {
  margin-bottom: 3.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #4c5372;
  font-family: ?????, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 {
  width: 100%;
  height: 24.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo {
  box-sizing: border-box;
  padding-right: 2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo .furniture-PXo {
  margin-right: 2rem;
  width: 23.2rem;
  height: 24.2rem;
  position: relative;
  background-color: #e2d4e0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo .furniture-PXo .furnitures-j5s {
  width: 13.3rem;
  height: 4.1rem;
  position: absolute;
  left: 4.95rem;
  top: 18.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo .furniture-PXo .c35c4d7d1c2aea04837b082e9ce862c6-1-orR {
  width: 21.2rem;
  height: 20.2rem;
  position: absolute;
  left: 1.3rem;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo .elektronik-Vz9 {
  box-sizing: border-box;
  padding: 1rem 4.3rem 1.8rem 4.3rem;
  width: 23.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e2d4e0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo .elektronik-Vz9 .ec8f5e5623a4258e47bce0cd647136c-4-pWd {
  margin: 0rem 0rem 0.6rem 1.5rem;
  width: 11.9rem;
  height: 16.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .auto-group-sa1o-fbo .elektronik-Vz9 .electronics-vJm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .clothing-RmK {
  margin-right: 2rem;
  width: 23.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .clothing-RmK .rectangle-41-ynq {
  width: 23.2rem;
  height: 24.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e2d4e0;
  border-radius: 2rem;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .clothing-RmK .clothing-accessories-X3f {
  width: 16.1rem;
  height: 8.1rem;
  position: absolute;
  left: 3.55rem;
  top: 16.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .clothing-RmK .dde4032830a485c1f244bfe48868b7-1-1zR {
  width: 12.5rem;
  height: 13.1rem;
  position: absolute;
  left: 5.3rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .book-KkD {
  margin-right: 2rem;
  width: 23.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .book-KkD .rectangle-42-5Db {
  width: 23.2rem;
  height: 24.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e2d4e0;
  border-radius: 2rem;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .book-KkD .books-stationary-R2Z {
  width: 13.9rem;
  height: 8.1rem;
  position: absolute;
  left: 4.75rem;
  top: 16.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .book-KkD .af6684378d26648d8ba44d11f812f2-1-vED {
  width: 11.5rem;
  height: 14.2rem;
  position: relative;
  left: 5.9rem;
  top: 1.2rem;
  background-size: 114.286% 117.482%;
  background-position: -1.6429rem -1.2412rem;
  background-image: url('../assets/af6684378d26648d8ba44d11f812f2-1.png');
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .kitchen-aZf {
  box-sizing: border-box;
  padding: 1.2rem 2rem 1.8rem 2.6rem;
  width: 23.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e2d4e0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .kitchen-aZf .c9648cc593e6c885092753381b2d4148-1-7Jh {
  margin-bottom: 1.3rem;
  width: 18.6rem;
  height: 15.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .product-categories-CZo .group-5-865 .kitchen-aZf .kitchen-E8R {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD {
  margin: 0rem 14rem 13rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .express-delivery-G57 {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 6.8rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-xzqy-z17 {
  margin: 1.35rem 5rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-xzqy-z17 .free-shipping-iSu {
  margin-bottom: 0.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-xzqy-z17 .free-shipping-on-all-order-d45 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #949ab1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .satisfaction-wqT {
  margin-right: 1.6rem;
  width: 5.8rem;
  height: 5.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-cky3-UaV {
  margin: 1.35rem 7rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-cky3-UaV .money-guarantee-REq {
  margin-bottom: 0.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-cky3-UaV .day-money-back-Y4Z {
  margin-left: 0.1rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #949ab1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .online-support-f9B {
  margin: 0.1rem 0.7rem 0rem 0rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-gg2u-P5B {
  margin: 1.35rem 7.8rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-gg2u-P5B .online-support-KUd {
  margin-bottom: 0.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-gg2u-P5B .technical-support-24-7-T53 {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #949ab1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .credit-card-PUV {
  margin: 0.1rem 1.1rem 0rem 0rem;
  width: 4.9rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-91qs-uhj {
  margin-top: 1.35rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-91qs-uhj .secure-payment-4Kj {
  margin-bottom: 0.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #272526;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .group-6-XtD .auto-group-91qs-uhj .all-cards-accepted-YEu {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #949ab1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR {
  margin: 0rem 9.7rem 6.4rem 0rem;
  width: 124.5rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .new-arrivals-m7f {
  margin: 0rem 0rem 2.7rem 2.4rem;
  display: flex;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH {
  width: 100%;
  height: 32.3rem;
  display: flex;
  align-items: center;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .blender-2ZP {
  margin-right: 2.9rem;
  width: 63rem;
  height: 100%;
  position: relative;
  background-color: #7c7e9d;
  border-radius: 2rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .blender-2ZP .order-now-and-get-a-free-recipe-book-with-hundreds-of-ideas-for-using-your-blender-MrZ {
  width: 33.8rem;
  height: 8.1rem;
  position: absolute;
  left: 21.5rem;
  top: 18.7rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e2d4e0;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .blender-2ZP .efbf51cc9249ebad136d3a208a109f-1-pVF {
  width: 23.8rem;
  height: 31.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .blender-2ZP .the-ultimate-blender-for-your-kitchen-91j {
  width: 36.7rem;
  height: 10.5rem;
  position: absolute;
  left: 20.05rem;
  top: 6.6rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fffdf6;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .lamp-Zr9 {
  box-sizing: border-box;
  padding: 2.9rem 4.4rem 2.4rem 4.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #7c7e9d;
  border-radius: 2rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .lamp-Zr9 .auto-group-vps3-Suw {
  margin: 3.7rem 3.25rem 5.8rem 0rem;
  height: calc(100% - 9.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .lamp-Zr9 .auto-group-vps3-Suw .the-smart-lamp-for-your-study-Aqw {
  margin-bottom: 1.6rem;
  max-width: 29.9rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fffdf6;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .lamp-Zr9 .auto-group-vps3-Suw .order-now-and-get-a-free-pair-of-earphones-with-your-purchase-sEZ {
  max-width: 28.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e2d4e0;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .new-arrivals-EtR .auto-group-xiz7-tCH .lamp-Zr9 .ecd3416c92bb3bc8627f5b-1-yHb {
  width: 16.2rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .all-product-4pq {
  margin-right: 10rem;
  width: 124.2rem;
  flex-shrink: 0;
}
.buyer-page-n2M .auto-group-k34v-Uvm .all-product-4pq .all-product-bpm {
  margin-bottom: 1.8rem;
  display: flex;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .auto-group-k34v-Uvm .all-product-4pq .auto-group-nqbw-XyK {
  margin: 0rem 0rem 3.6rem 0.8rem;
  height: 35.9rem;
  display: flex;
  align-items: center;
}

.buyer-page-n2M .auto-group-k34v-Uvm .all-product-4pq .group-14-t81 {
  margin: 0rem 60rem 0rem 50.1rem;
  width: calc(100% - 100.5rem);
  height: 5.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #4a5372;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e2d4e0;
  border-radius: 0.5rem;
}
.buyer-page-n2M .footer-HA9 {
  width: 100%;
  height: 33.1rem;
  position: relative;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .rectangle-38-27j {
  width: 144rem;
  height: 26.2rem;
  position: absolute;
  left: 0;
  top: 6.9rem;
  background-color: #e2d4e0;
}
.buyer-page-n2M .footer-HA9 .information-ADw {
  width: 14.8rem;
  height: 18.7rem;
  position: absolute;
  left: 33.6rem;
  top: 10.1rem;
}
.buyer-page-n2M .footer-HA9 .information-ADw .information-HpM {
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .footer-HA9 .information-ADw .about-us-more-search-blog-testimonial-events-q5B {
  max-width: 11.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c7e9d;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .footer-HA9 .frame-3-9bf {
  width: 15.7rem;
  height: 13.3rem;
  position: absolute;
  left: 83.7rem;
  top: 10.1rem;
}
.buyer-page-n2M .footer-HA9 .frame-3-9bf .our-services-t3T {
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .footer-HA9 .frame-3-9bf .order-categories-list-blog-pC1 {
  max-width: 13.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c7e9d;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .footer-HA9 .helpful-Lg9 {
  width: 16.9rem;
  height: 16rem;
  position: absolute;
  left: 58.7rem;
  top: 10.1rem;
}
.buyer-page-n2M .footer-HA9 .helpful-Lg9 .helpful-links-57w {
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .footer-HA9 .helpful-Lg9 .services-supports-terms-condition-privacy-policy-cdf {
  max-width: 16.9rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c7e9d;
  font-family: Poppins, 'Source Sans Pro';
}
.buyer-page-n2M .footer-HA9 .ac74c2533d3f3f736f9c5d7d44-2-jiH {
  width: 25.7rem;
  height: 33.1rem;
  position: relative;
  left: 4rem;
  top: 0;
  background-size: 100.1% 136.286%;
  background-position: -0.0129rem -12.0107rem;
  background-image: url('../assets/ac74c2533d3f3f736f9c5d7d44-2-dnZ.png');
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K {
  width: 23.5rem;
  height: 17.7rem;
  position: absolute;
  left: 108.9rem;
  top: 10.1rem;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .contact-us-wpM {
  margin: 0rem 0rem 1.7rem 0.1rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-617x-fkM {
  margin: 0rem 2.5rem 0.3rem 0.715rem;
  width: calc(100% - 3.2153rem);
  display: flex;
  align-items: flex-start;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-617x-fkM .lets-icons-phone-fill-nKB {
  margin: 0.002rem 1.002rem 0rem 0rem;
  width: 2.083rem;
  height: 2.083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-617x-fkM .item-62-823-3445-6789-hS9 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c7e9d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-f8hw-oVB {
  margin: 0rem 0rem 3rem 0.433rem;
  width: calc(100% - 0.4333rem);
  display: flex;
  align-items: center;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-f8hw-oVB .material-symbols-mail-8XT {
  margin: 0.1rem 1.033rem 0rem 0rem;
  width: 2.3333rem;
  height: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-f8hw-oVB .prelovedgmailcom-qgm {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c7e9d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-y5nh-BEq {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-y5nh-BEq .vector-Kbw {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-y5nh-BEq .vector-fvh {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-y5nh-BEq .vector-dMj {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .contact-us-R5K .auto-group-y5nh-BEq .vector-B8M {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.buyer-page-n2M .footer-HA9 .preloved-all-rights-reserved-vrd {
  width: 23.9rem;
  height: 2rem;
  position: absolute;
  left: 60.05rem;
  top: 30.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4c5372;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
a {
  text-decoration: none;
}

 /* tambahan dari zara (bisa diedit nanti) */

.product-name {
  font-size: 20px; 
  font-family: Poppins, 'Source Sans Pro';
  color: #4c5372;
}

.product-price {
  font-size: 20px; 
  font-family: Poppins, 'Source Sans Pro';
  color: #4c5372;
}

.add-to-cart-btn {
  background: linear-gradient(to right, #5858A7, #4c5372); 
  color: white;
  border: none; 
  border-radius: 25px; 
  padding: 10px 20px; 
  font-size: larger; 
  cursor: pointer; 
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.square-container {
  margin: 10px; 
  width: 300px; 
}
